@model SportsStore.Domain.Entities.Cart

<!--This creates a link to the cart-->
<div class="navbar-right">
    
    @Html.ActionLink("Checkout", "Index", "Cart",
        new {returnUrl = Request.Url.PathAndQuery},
        new {@class = "btn btn-default navbar-btn"} )
</div>

<!--This shows a summary of the cart
   
    
    -->
<div class="navbar-text navbar-right">
   
    <b>Your cart:</b>
    
    @Model.Lines.Sum(x => x.Quantity) item(s), @Model.ComputeTotalValue().ToString("c")

</div>
